<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting id="ConfigDialog" type="action" label="30008" action="RunScript($CWD/resources/lib/Config.py)"/>
		<setting id="ForceChannelReset" type="bool" label="30002" default="false"/>
		<setting id="AutoOff" type="enum" label="30001" values="Disable|30 min|60 min|90 min|120 min|150 min|180 min|210 min|240 min" default="0"/>
		<setting id="ChannelResetSetting" type="enum" label="30004" values="Automatic|Daily|Weekly|Monthly|Never|Every Time" default="0"/>
		<setting id="StartMode" type="enum" label="30011" values="Resume|Real Time|Random" default="1" />
		<setting id="ThreadMode" type="enum" label="30012" values="On|Minimum Use|Off" default="1" />
		<setting id="ChannelSharing" type="bool" label="30015" default="false"/>
		<setting id="SettingsFolder" subsetting="true" type="folder" source="auto" visible="eq(-1,true)" label="30013" default="" />
	</category>

	<category label="30020">
		<setting id="InfoOnChange" type="bool" label="30003" default="false"/>
		<setting id="InfoLength" type="enum" subsetting="true" label="30021" visible="eq(-1,true)" values="2 sec|3 sec|4 sec|5 sec|6 sec|7 sec|8 sec|9 sec|10 sec|11 sec|12 sec" default="8"/>
		<setting id="ShowChannelBug" type="bool" label="30006" default="false"/>
		<setting id="HideYearEpInfo" type="bool" label="30009" default="false"/>
		<setting id="ShowEpgLogo" type="bool" label="30007" default="true"/>
		<setting id="ChannelLogoFolder" type="folder" source="auto" label="30010" default="special://home/addons/script.pseudotv/resources/logos/"/>
		<setting id="ClockMode" type="enum" label="30014" default="0" values="12 Hour|24 Hour"/>
		<setting id="EnableComingUp" type="bool" label="30016" default="true"/>
		<setting id="HideClips" type="bool" label="30017" default="false"/>
		<setting id="ClipLength" type="enum" subsetting="true" label="30018" visible="eq(-1,true)" values="15 sec|30 sec|60 sec|90 sec|120 sec|180 sec|240 sec|300 sec|360 sec" default="4"/>
	</category>

	<category label="30022">
		<setting id="MediaLimit" type="enum" label="30044" values="10 items|25 items|50 items|100 items|250 items|500 items|1000 items|No limit" default="1"/>
		<setting id="NumberColour" type="enum" label="30045" values="Red|Green|Blue|Yellow|Cyan|Orange|Magenta|Gray|White" default="1"/>
		<setting id="SeekForward" type="enum" label="30046" values="10 sec|30 sec|60 sec|3 min|5 min|10 min|30 min" default="1"/>
		<setting id="SeekBackward" type="enum" label="30047" values="-10 sec|-30 sec|-60 sec|-3 min|-5 min|-10 min|-30 min" default="1"/>
	</category>

	<category label="30026">
		<setting id="enable" type="bool" label="30027" default="false"/>
		<setting id="timer_amount" type="enum" values="None|5 sec|10 sec|15 sec|20 sec" label="30028" enable="eq(-1,true)" default="1"/>
		<setting id="notify" type="bool" label="30029" enable="eq(-2,true)" default="true"/>
	</category>
</settings>
